!!!5
%html.no-js(lang="en"){:class => data.page.head_classes}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

    %title
      = page_title
      | ₍˄ุ.͡˳̫.˄ุ₎

    = partial "layouts/head/meta"
    = partial "layouts/head/link"
    = partial "layouts/head/css"
    = partial "layouts/head/js"

  %body{class: page_classes}
    .page
      = partial "layouts/roles/alert"

    .page.page-body
      .container
        .page-content-wrap
          %aside.complementary(role="complementary")

          %main.main(role="main")
            .main-content
              %nav.navigation(role="navigation")
                .navigation-content
                  %ul.list-menu
                    %li= link_to "About",        "/"
                    %li= link_to "Speaking",     "/speaking"
                    %li= link_to "Publications", "/publications"
                    %li= link_to "Featured",     "/featured"
                    %li= link_to "Contact",      "/contact"

              .body
                .body-content
                  - unless data.page.title == "Contact"
                    %h1= Typogruby.improve(data.page.title)
                  = Typogruby.improve(yield)

              %footer.contentinfo(role="contentinfo")
                .contentinfo-content
                  %hr/
                  %ul.list-menu
                    %li= link_to "Twitter",   "http://twitter.com/jina"
                    %li= link_to "Instagram", "http://instagram.com/jina"
                    %li= link_to "Dribbble",  "http://dribbble.com/jina"
                    %li= link_to "Github",    "http://github.com/jina"

                  %p
                    Copyright &copy; 2000&ndash;2014 Jina, all rights reserved.
                    = link_to "http://www.mediatemple.net#a_aid=501cfa93bffd3", title: "Hosted by Media Temple" do
                      (mt)

    = partial "layouts/foot/js"

