!!!5
%html.no-js(lang="en"){class: page_classes}
  %head(profile="http://gmpg.org/xfn/11")
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")

    %title
      - if current_page.data.title
        = current_page.data.title
      - else
        jina

    - if current_page.data.summary
      %meta(name="description" content="#{current_page.data.summary}")
    - else
      %meta(name="description" content="The personal website, journal, and portfolio of Jina")
    = yield_content :head_meta

    %link(rel="apple-touch-icon" href="apple-touch-icon.png")
    - if current_page.data.googleplus
      %link(rel="author" href="https://plus.google.com/#{current_page.data.googleplus}")
    %link(rel="author" href="http://jina.me/humans.txt")
    = yield_content :head_link

    = yield_content :head_css

    = javascript_include_tag "vendor/modernizr"
    = yield_content :head_js

  %body
    = yield

    = yield_content :foot_js
    :javascript
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-19273722-2','auto');ga('send','pageview');

