---
title: "Card Review: Thick Lines"
---

%p
  = link_to "Thick Lines", "http://www.draplin.com/1998/01/ddc113_ddc_thick_lines_edition_playing_card_set.html"
  is the first card deck offered by
  = succeed "," do
    = link_to "DeckStarter", "https://deckstarter.com/)"
  designed by
  = succeed "." do
    = link_to "Draplin Design Co", "http://www.draplin.com/"

%h2 The Box

.tile-photos-4
  = link_to "/assets/img/journal/cards/thick-lines/box-1/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-1/tablet.jpg", alt: "Box Photo 1"
  = link_to "/assets/img/journal/cards/thick-lines/box-2/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-2/tablet.jpg", alt: "Box Photo 2"
  = link_to "/assets/img/journal/cards/thick-lines/box-3/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-3/tablet.jpg", alt: "Box Photo 3"
  = link_to "/assets/img/journal/cards/thick-lines/box-4/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-4/tablet.jpg", alt: "Box Photo 4"

%p
  This deck comes in a pretty cool animating case called MagicPak&trade;.
  The box is "decked out" (pun totally intended) with thick-lined circles in
  very vibrant sunny colors. The thick slab type has a retro vibe going.

%h2 Card Backs

.tile-photos-1
  = link_to "/assets/img/journal/cards/thick-lines/back/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/back/tablet.jpg", alt: "Back"

%p The backs are attractive with the same mirrored sunny circle designs.

%h2 Number Cards

.tile-photos-1
  = link_to "/assets/img/journal/cards/thick-lines/numbers/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/numbers/tablet.jpg", alt: "Numbers"

%p
  The thick-lined pip shapes match well with the retro slab typeface used for
  the numbered cards.

%h2 The Aces

.tile-photos-1
  = link_to "/assets/img/journal/cards/thick-lines/aces/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/aces/tablet.jpg", alt: "Aces"

%p
  Instead of just the Aces
  %i of
  Spades, all four Aces get a big, bold pip in the center.

%h2 The Face Cards

.tile-photos-3
  = link_to "/assets/img/journal/cards/thick-lines/jacks/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/jacks/tablet.jpg", alt: "Jacks"
  = link_to "/assets/img/journal/cards/thick-lines/queens/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/queens/tablet.jpg", alt: "Queens"
  = link_to "/assets/img/journal/cards/thick-lines/kings/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/kings/tablet.jpg", alt: "Kings"

%p
  The face cards use the traditional style of mirrored poses that most decks
  have, but the thick outlines help set them apart. I love the
  %abbr(title="Draplin Design Co.") DDC
  logos in the center. It almost feels like a big belt buckle.

%h2 Jokers & Other Cards

.tile-photos-1
  = link_to "/assets/img/journal/cards/thick-lines/extras/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/extras/tablet.jpg", alt: "Extras"

%p
  The Jokers are very simple and rely on typography instead of an
  illustration. I like that the corners of the cards say "HA HA". Not many
  Jokers get corner artwork.

%p
  Finally, the deck also comes with information cards for both
  = link_to "Burgopak", "http://burgopak.com/landing/"
  (the makers of the MagikPak) and Deckstarter.
