---
title: "Card Review: Flesh + Bones"
---

:markdown
  [Flesh + Bones](http://dualoriginals.com/products/cards) is the most recent
  deck of playing cards I have received for my collection, so I figured I
  would review this one first. This is a deck hand-illustrated by
  [Dual Originals](http://dualoriginals.com/) for
  [DeckStarter](https://deckstarter.com/), and I was a backer.

  Admittedly, I was very frustrated because my order was really late. But
  after some back-and-forth over support and social media, DeckStarter made it
  right with me. I can be a little impatient for things I've paid for, but
  once I received the deck I was very happy and it was worth the wait.

  ---

  ## The Box

%p.tile-photos-2
  = link_to image_tag("journal/cards/flesh-bones/box-1/tablet.jpg", alt: "Box Photo 1"), "assets/img/journal/cards/flesh-bones/box-1/fullsize.jpg", target: "_blank"
  = link_to image_tag("journal/cards/flesh-bones/box-2/tablet.jpg", alt: "Box Photo 2"), "assets/img/journal/cards/flesh-bones/box-2/fullsize.jpg", target: "_blank"

:markdown
  I love the design used for box. It is minimalist &mdash; just black and
  white. It reminds me of the Bristol Board I used to print on a lot in art
  school.

  ---

  ## Card Backs

%p= link_to image_tag("journal/cards/flesh-bones/back/tablet.jpg", alt: "Back"), "assets/img/journal/cards/flesh-bones/back/fullsize.jpg", target: "_blank"

:markdown
  Most decks I have sport beautiful backs and have boring fronts. While I
  think the backs of these cards are very nice, they are less interesting than
  the fronts, which you&rsquo;ll see soon.

  ---

  ## Number Cards

%p= link_to image_tag("journal/cards/flesh-bones/numbers/tablet.jpg", alt: "Numbers"), "assets/img/journal/cards/flesh-bones/numbers/fullsize.jpg", target: "_blank"

:markdown
  The front of the number cards are smaller numbers and pips, a slight
  departure from the standard style. I like the simplicity.

  ---

  ## The Aces

%p= link_to image_tag("journal/cards/flesh-bones/aces/tablet.jpg", alt: "Aces"), "assets/img/journal/cards/flesh-bones/aces/fullsize.jpg", target: "_blank"

:markdown
  Usually only the Ace of Spades has a fancy design. I love that all four aces
  get a nice illustration.

  ---

  ## The Face Cards

%p.tile-photos-3
  = link_to image_tag("journal/cards/flesh-bones/jacks/tablet.jpg",  alt: "Jacks"),  "assets/img/journal/cards/flesh-bones/jacks/fullsize.jpg",  target: "_blank"
  = link_to image_tag("journal/cards/flesh-bones/queens/tablet.jpg", alt: "Queens"), "assets/img/journal/cards/flesh-bones/queens/fullsize.jpg", target: "_blank"
  = link_to image_tag("journal/cards/flesh-bones/kings/tablet.jpg",  alt: "Kings"),  "assets/img/journal/cards/flesh-bones/kings/fullsize.jpg",  target: "_blank"

:markdown
  I love these face cards. Instead of typical royal humans in fancy clothes,
  we get a range of monsters, including mermaids, dragons, unicorns, etc.

  ---

  ## Jokers <span class="amp">&amp;</span> Other Cards

%p= link_to image_tag("journal/cards/flesh-bones/extras/tablet.jpg", alt: "Extras"), "assets/img/journal/cards/flesh-bones/extras/fullsize.jpg", target: "_blank"

:markdown
  The Jokers are stunning. I like the contrast between the two. One card is
  heavy with a skeleton with long hair filling most of the card. The other
  joker is stark and clean with the butterfly (or moth?) in the middle.

  Finally, the deck also comes with information cards for both
  [Art of Play](http://www.artofplay.com/) and Dual Originals.
