---
title: "Card Review: Thick Lines"
---

:markdown
  [Thick&nbsp;Lines](http://www.draplin.com/1998/01/ddc113_ddc_thick_lines_edition_playing_card_set.html)
  is the first card deck offered by [DeckStarter](https://deckstarter.com/),
  designed&nbsp;by [Draplin&nbsp;Design&nbsp;Co](http://www.draplin.com/).

  ---

  ## The Box

%p.tile-photos-4
  = link_to "/assets/img/journal/cards/thick-lines/box-1/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-1/tablet.jpg", alt: "Box Photo 1"
  = link_to "/assets/img/journal/cards/thick-lines/box-2/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-2/tablet.jpg", alt: "Box Photo 2"
  = link_to "/assets/img/journal/cards/thick-lines/box-3/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-3/tablet.jpg", alt: "Box Photo 3"
  = link_to "/assets/img/journal/cards/thick-lines/box-4/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/box-4/tablet.jpg", alt: "Box Photo 4"

:markdown
  This deck comes in a pretty cool animating case called MagicPak&trade;.
  The&nbsp;box is &ldquo;decked&nbsp;out&rdquo; (pun totally intended) with
  thick-lined circles in very vibrant sunny colors. The&nbsp;thick slab type
  has a retro vibe&nbsp;going.

  ---

  ## Card Backs

%p
  = link_to "/assets/img/journal/cards/thick-lines/back/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/back/tablet.jpg", alt: "Back"

:markdown
  The backs are attractive with the same mirrored sunny circle&nbsp;designs.

  ---

  ## Number Cards

%p
  = link_to "/assets/img/journal/cards/thick-lines/numbers/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/numbers/tablet.jpg", alt: "Numbers"

:markdown
  The thick-lined pip shapes match well with the retro slab typeface used for
  the numbered&nbsp;cards.

  ---

  ## The Aces

%p
  = link_to "/assets/img/journal/cards/thick-lines/aces/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/aces/tablet.jpg", alt: "Aces"

:markdown
  Instead of just the Aces&nbsp;<i>of</i>&nbsp;Spades, all four Aces get a
  big, bold&nbsp;pip in the center.

  ---

  ## The Face Cards

%p.tile-photos-3
  = link_to "/assets/img/journal/cards/thick-lines/jacks/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/jacks/tablet.jpg", alt: "Jacks"
  = link_to "/assets/img/journal/cards/thick-lines/queens/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/queens/tablet.jpg", alt: "Queens"
  = link_to "/assets/img/journal/cards/thick-lines/kings/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/kings/tablet.jpg", alt: "Kings"

:markdown
  The face cards use the traditional style of mirrored poses that most decks
  have, but&nbsp;the thick outlines help set them apart. I&nbsp;love the
  <abbr class="caps" title="Draplin Design Co.">DDC</abbr> logos in the
  center. It&nbsp;almost feels like a big belt&nbsp;buckle.

  ---

  ## Jokers <span class="amp">&amp;</span> Other Cards

%p
  = link_to "/assets/img/journal/cards/thick-lines/extras/fullsize.jpg", target: "_blank" do
    = image_tag "journal/cards/thick-lines/extras/tablet.jpg", alt: "Extras"

:markdown
  The Jokers are very simple and rely on typography instead of an
  illustration. I&nbsp;like that the corners of the cards say
  &ldquo;<span class="caps">HA&nbsp;HA</span>&rdquo;. Not&nbsp;many Jokers get
  corner&nbsp;artwork.

  Finally, the&nbsp;deck also comes with information cards for both
  [Burgopak](http://burgopak.com/landing/) (the makers of the MagikPak)
  and&nbsp;Deckstarter.
