---
title: "Cascade SF: UX Night"
---

%p
  In San Francisco,
  = link_to "Cascade SF", "http://cascadesf.com/"
  holds a monthly meet up called
  = succeed "," do
    %em UX Night
  an event in which there are two hours of speed design mentoring and
  presentations. This week, I had the opportunity to attend and speak. It
  was a pretty great event!

%h2 Speed Design Mentoring

%blockquote.twitter-tweet(lang="en")
  %p
    The design mentorship board filled up quick!
    = link_to "#uxnight", "https://twitter.com/hashtag/uxnight?src=hash"
    = link_to "#wixevents", "https://twitter.com/hashtag/wixevents?src=hash"
    SF
    = link_to "@WixLounge", "https://twitter.com/WixLounge"
    = link_to "pic.twitter.com/JOyKevvX6T"
  = "-- WixLounge (@WixLounge)"
  = link_to "February 19, 2015", "https://twitter.com/WixLounge/status/568239783664881665"

%script(async src="//platform.twitter.com/widgets.js" charset="utf-8")

%p
  When I walked in, I was very impressed. I saw a huge room full of an
  energetic crowd. At many tables throughout the space, there were attendees
  meeting 1-on-1 with design mentors. It was speed mentoring, so everyone
  had a time slot they signed up for to meet. Everyone seemed very talented
  and passionate. I saw some people getting feedback on their projects, and
  some just having a conversation. It looked pretty fun.

%blockquote.twitter-tweet(lang="en")
  %p
    Getting our
    = link_to "#uxdesign", "https://twitter.com/hashtag/uxdesign?src=hash"
    mentorship on with
    = link_to "@cascadesf", "https://twitter.com/cascadesf"
    in the SF
    = succeed "." do
      = link_to "@WixLounge", "https://twitter.com/WixLounge"
    = link_to "#wixevents", "https://twitter.com/hashtag/wixevents?src=hash"
    = link_to "#uxnight", "https://twitter.com/hashtag/uxnight?src=hash"
    = link_to "pic.twitter.com/TBaGCQC2Ih", "http://t.co/TBaGCQC2Ih"
  = "-- WixLounge (@WixLounge)"
  = link_to "Feburary 19, 2015", "https://twitter.com/WixLounge/status/568237677662879744"

%script(async src="//platform.twitter.com/widgets.js" charset="utf-8")

%h2 The Presentation

%p
  After the mentoring sessions were over, it was my turn to present.
  I spoke about the work my Design Systems team is doing at
  = succeed "." do
    = link_to "Sales<i>f</i>orce UX", "http://twitter.com/salesforceux"
  I was excited to have many conversations afterwards about what other
  people are doing in this space.

%blockquote.instagram-media(data-instgrm-captioned data-instgrm-version="4" style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15); margin: 1px; max-width: 658px; padding: 0; width: 99.375%; width: -webkit-calc(100% - 2px); width: calc(100% - 2px);")
  %div(style="padding: 8px;")
    %div(style="background: #F8F8F8; line-height:0; margin-top: 40px; padding: 50% 0; text-align: center; width: 100%;")
      %div(style="background: url(data:image/png; base64, iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display: block; height: 44px; margin: 0 auto -44px; position: relative; top: -22px; width: 44px;")

    %p(style="margin: 8px 0 0 0; padding: 0 4px;")
      = link_to "@jina talking about designing systems.", "https://instagram.com/p/zROYa1D-1R/", style: "color: #000; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none; word-wrap: break-word;", target: "_top"

    %p(style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;")
      A photo posted by Faruk Ateş (@kurafire) on
      %time(style="font-family: Arial, sans-serif; font-size: 14px; line-height: 17px;" datetime="2015-02-19T04:20:53+00:00")
        Feb 18, 2015 at 8:20pm PST

%script(async defer src="//platform.instagram.com/en_US/embeds.js")

%h3
  My slides:
  %strong
    = link_to "Living Design Systems", "https://speakerdeck.com/jina/living-design-systems"

%script(async class="speakerdeck-embed" data-id="050f67200ec301329561323b621a35b7" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js")

%h2 Next Month

%p
  I'm very excited about next month's event. We are hosting it at the
  = succeed "." do
    %strong Sales<i>f</i>orce Rincon Cafe
  It looks like it's going to be another great event. If you're interested
  in checking it out,
  = succeed "." do
    = link_to "grab tickets here", "http://uxnightnot13.eventbrite.com"
  I look forward to seeing you there!
