---
title: Contact
---

= form_tag 'https://formkeep.com/f/fa2f10857195', class: "contact-form" do
  = field_set_tag 'Contact Jina' do
    %ol
      %li
        = label_tag :name
        %span.required (required)
        %br/
        = text_field_tag :name, size: 20, required: true

      %li
        = label_tag :email
        %span.required (required)
        %br/
        = email_field_tag :email, size: 20, required: true

      %li
        = label_tag :organization
        %br/
        = text_field_tag :organization, size: 20

      %li
        = label_tag :website
        %br/
        = url_field_tag :website, size: 20

      %li
        = label_tag :subject
        %br/
        = select_tag :subject, :options => ['Just saying hello.', 'I’d like you to speak at my event.']

      %li
        = label_tag :message
        %span.required (required)
        %br/
        = text_area_tag :message, rows: 3, cols: 20, required: true

    %p= button_tag "Submit"
