---
title: Featured
---

%main.main(role="main")
  %h1 Featured
  - data.featured.years.each do |feature|
    %h2= feature.year

    %ul.list-details
      - feature.details.each do |feature_item|
        %li
          = succeed ":" do
            %span.caps= feature_item.medium

          %strong= link_to feature_item.name, feature_item.link
          - if feature_item.publication?
            = precede "-- " do
              %span= feature_item.publication

          - if feature_item.event?
            = precede "-- " do
              %span= feature_item.event
              - if feature_item.location?
                %span= feature_item.location

    %hr
