---
title: Publications
---

%h1 Publications
.two-column
  %aside.complementary(role="complementary")
    %h2 Books
    - data.publications.books.roles.each do |books|
      %hr
      %h3= books.role

      %ul.list-details
        - books.details.each do |book|
          %li
            %strong= link_to book.name, book.link

            = precede "&mdash; " do
              %span.caps by

            = book.authors

            %br

            - if book.also?
              %span.caps Also:
              = book.also

  %main.main(role="main")
    %h2 Articles & External Blog Posts

    - data.publications.articles.years.each do |article|
      %hr
      %h3= article.year
      %ul.list-details
        - article.posts.each do |post|
          %li
            %strong= link_to post.name, post.link

            = precede "&mdash; " do
              %span= post.publication
