---
title: Publications
---

%h1 Writing

%h2 Books
%p= link_to "Amazon Author Page", "http://amazon.com/author/jina"
%ul.list-details
  - data.publications.books.each do |book|
    %li
      %strong= link_to book.name, book.link
      %br/
      %i.fleurish by
      = book.authors
      %br/
      %i.fleurish My role:
      = book.role
%hr/

%h2 Articles
%ul.list-details
  - data.publications.articles.each do |article|
    %li
      %strong= link_to article.name, article.link
      %br/
      = article.publication
      %br/
      = article.date
