---
title: Publications
---

%h2 Books

- data.publications.books.roles.each do |books|
  %h3= books.role

  %ul.list-details
    - books.details.each do |book|
      %li
        %strong= link_to book.name, book.link

        %br/

        %span.caps by

        = book.authors

        %br/

        - if book.also?
          %span.caps Also:
          = book.also

  %hr/

%h2 Articles & External Blog Posts

%ul.list-details
  - data.publications.articles.each do |article|
    %li
      %strong= link_to article.name, article.link

      %br/

      = article.publication

      %br/

      = article.date
