---
title: Speaking
---

%h1 Speaking

.two-column
  %aside.complementary(role="complementary")
    %p= link_to image_tag("speaking.jpg", width: "960", height: "720", alt: "Jina Bolton"), "https://www.flickr.com/photos/see_also/15048989877/in/photostream/lightbox/", title: "Jina Bolton by Nicolas Zimmel, on Flickr"
    %h2 I Love Speaking!
    %p
      I've been speaking at events for
      = data.speaking.details.years
      years across
      = data.speaking.details.countries
      countries,
      = data.speaking.details.cities
      cities, and online. I really enjoy it a lot. Lately, I feel fortunate
      to have had many great opportunities to speak, learn and travel. If I
      could, I would accept every invitation to speak!

    %p
      However, I really
      %em love
      my job, and I want to be good at it! So I need to limit the
      engagements I take on each year. To help make the process as smooth as
      possible), I've put together this list of what we can expect from each
      other. If all looks good, get in touch!

    %hr

    %h2 What to Expect

    %h3 Your Event

    %ul
      %li
        Your event
        = link_to "must have a Code of Conduct", "http://alistapart.com/article/tweaking-the-moral-ui"
        for me to accept the invitation.

      %li Let me know in advance if talks are recorded.

      %li
        Tell me about your audience (creative, technical, skill levels, etc).

      %li
        I will wait until your event gets the opportunity to make the
        announcement, and then I will promote my speaking engagement at your
        event on Twitter, Facebook, and my website.

      %li
        Do not schedule me for 1-on-1 consultations with your attendees
        without my
        = succeed "." do
          %em explicit, written&nbsp;consent

    %hr

    %h3 My Presentation

    %ul
      %li Let me know in advance how much time I have.

      %li
        My content will be up-to-date with current standards and best
        practices, to the best of my knowledge.

      %li I will design my slides myself on my own template.

      %li
        Help me get set up with
        = succeed "." do
          %span.caps A/V
        Usually it's not a problem, but in the past I have been left to set
        myself up and was delayed due to technical difficulties against my
        control.

      %li
        I will present on my own computer, and I will advance my own slides.

      %li I won't do live code demos or design battles.

      %li
        I will not participate in anything involving a "battle
        %i of
        the sexes". I made this mistake early in my career. Never again.

      %li I will publish my slides and tweet out the link.

    %hr

    %h3 Compensation & Accommodations

    %ul
      %li Unless you are a non-profit, I require a speaker honorarium.

      %li
        I will give priority to events that cover my travel and
        accommodations. I would like to arrive at least one day before the
        event begins, and depart at least one day after the event ends,
        unless I request otherwise.
        %strong This is so I can see your full event!
        Please cover this and all days of the event. If I decide to stay
        additional days, I will cover that on my own.

      %li
        If Sales<i>f</i>orce covers my travel and accommodations, I ask that you
        please indicate them as a sponsor.

    %hr

    %h2 Let's Talk

    %p
      If you would like me to speak at your event, please
      = link_to "contact me", "/contact"
      with:

    %ul
      %li short description of your conference

      %li event date and location

      %li talk type (keynote/session, workshop, panel...)

      %li speaker honorarium and travel arrangements

  %main.main(role="main")

    %h2 Upcoming Events

    %ul.list-details
      - data.speaking.upcoming.each do |event|
        %li
          %strong= link_to event.name, event.link
          %span
            = precede "-- " do
              = event.date
          %span
            = precede "-- " do
              = event.location
      %li
        %strong= link_to "The Mixin", "http://themixinsf.com"
        %span
          = precede "-- " do
            Roughly every 3 months
        %span
          = precede "-- " do
            San Francisco, California
        %br
        I organize this San Francisco Sass & Frontend Meet up.

    %hr

    %h2 Past Events
    - data.speaking.past.years.each do |past|
      %h3= past.year
      %ul.list-details
        - past.details.each do |event|
          %li
            %strong= event.name
            = precede "-- " do
              = event.location

            %br
            = succeed ":" do
              %span.caps= event.type

            - if event.video?
              %span
                = link_to event.talk, event.video
                - if event.audio?
                  |
                  = link_to "Audio", event.audio
                - if event.slides?
                  |
                  = link_to "Slides", event.slides

            - elsif event.audio?
              %span
                = link_to event.talk, event.audio
                - if event.slides?
                  |
                  = link_to "Slides", event.slides

            - elsif event.slides?
              %span= link_to event.talk, event.slides

            - else
              %span= event.talk


