---
title: Speaking
---

%h1 Speaking
%p
  If you would like me to speak at your event, please
  = link_to "contact me", "contact"
  with details.

%hr/

%h2 Upcoming Events
%ul.list-details
  - data.speaking.upcoming.each do |event|
    %li
      %strong= link_to event.name, event.link
      %br/
      = event.date
      %br/
      = event.location
-#.lanyrd-target-splat= link_to "My conferences on Lanyrd", "http://lanyrd.com/profile/jina/", class: "lanyrd-splat lanyrd-number-10 lanyrd-context-future", rel: "me"



%hr/

%h2 Past Events
-#.lanyrd-target-splat= link_to "My conferences on Lanyrd", "http://lanyrd.com/profile/jina/", class: "lanyrd-splat lanyrd-number-100 lanyrd-type-speaking lanyrd-context-past lanyrd-template-detailed", rel: "me"
- data.speaking.past.years.each do |past|
  %h3= past.year
  %ul.list-details
    - past.details.each do |event|
      %li
        %strong= event.name
        %br/
        = event.location

        - if event.talk?
          %br
          %em= event.talk

        - if event.video?
          %br/
          = link_to "Video", event.video
          - if event.audio?
            |
            = link_to "Audio", event.audio
          - if event.slides?
            |
            = link_to "Slides", event.slides

        - elsif event.video?
          %br/
          = link_to "Audio", event.audio
          - if event.slides?
            |
            = link_to "Slides", event.slides

        - elsif event.slides?
          %br/
          = link_to "Slides", event.slides
  %hr/

%ul.list-menu
  %li= link_to "Lanyrd",       "lanyrd.com/profile/jina/"
  %li= link_to "Speakerdeck",  "http://speakerdeck.com/jina"
  %li= link_to "Speakerpedia", "http://speakerpedia.com/speakers/jina-bolton"
  %li= link_to "Speakerrate",  "http://speakerrate.com/speakers/158-jina-bolton"
