---
title: Speaking
---

%h1 Speaking

.two-column
  %p
    If you would like Jina to speak at your event, please
    = link_to "contact her", "contact"
    with&nbsp;details.

  %hr

  %aside.complementary(role="complementary")
    %h2 Upcoming Events
    %ul.list-details
      - data.speaking.upcoming.each do |event|
        %li
          %strong= link_to event.name, event.link
          = precede "&mdash; " do
            = event.date
          = precede "&mdash; " do
            = event.location
      %li
        %strong= link_to "The Mixin", "http://themixinsf.com"
        = precede "&mdash; " do
          Roughly every 3 months
        = precede "&mdash; " do
          San Francisco, California
        %br
        Jina organizes this San Francisco Sass & Frontend Meet up.

  %main.main(role="main")
    %h2 Past Events
    -#.lanyrd-target-splat= link_to "My conferences on Lanyrd", "http://lanyrd.com/profile/jina/", class: "lanyrd-splat lanyrd-number-100 lanyrd-type-speaking lanyrd-context-past lanyrd-template-detailed", rel: "me"
    - data.speaking.past.years.each do |past|
      %h3= past.year
      %ul.list-details
        - past.details.each do |event|
          %li
            %strong= event.name
            = precede "&mdash; " do
              = event.location

            %br
            = succeed ":" do
              %span.caps= event.type

            - if event.video?
              %span
                = link_to event.talk, event.video
                - if event.audio?
                  |
                  = link_to "Audio", event.audio
                - if event.slides?
                  |
                  = link_to "Slides", event.slides

            - elsif event.audio?
              %span
                = link_to event.talk, event.audio
                - if event.slides?
                  |
                  = link_to "Slides", event.slides

            - elsif event.slides?
              %span= link_to event.talk, event.slides

            - else
              %span= event.talk
      %hr

    %ul.list-menu
      %li= link_to "Lanyrd",       "lanyrd.com/profile/jina/"
      %li= link_to "Speakerdeck",  "http://speakerdeck.com/jina"
      %li= link_to "Speakerpedia", "http://speakerpedia.com/speakers/jina-bolton"
      %li= link_to "Speakerrate",  "http://speakerrate.com/speakers/158-jina-bolton"
