---
title: Speaking
---

%h1 Upcoming Events
%ul.list-details
  - data.speaking.upcoming.each do |event|
    %li
      %strong= link_to event.name, event.link
      %br/
      = event.date
      %br/
      = event.location

%hr/

%h1 Past Events

%h2 2014

%ul.list-details
  - data.speaking.y2014.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2013

%ul.list-details
  - data.speaking.y2013.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2012

%ul.list-details
  - data.speaking.y2012.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2011

%ul.list-details
  - data.speaking.y2011.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2010

%ul.list-details
  - data.speaking.y2010.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2009

%ul.list-details
  - data.speaking.y2009.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2008

%ul.list-details
  - data.speaking.y2008.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location

%hr/

%h2 2007

%ul.list-details
  - data.speaking.y2007.each do |event|
    %li
      %strong= event.name
      %br/
      = event.location
